* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.circle {
  margin-left: 450px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid black;
  background-color: yellow;
}

.heading {
  color: blue;
  background-color: aquamarine;
  text-align: center;
}

#first-para {
  padding: 25px;
  margin-top: 25px;
  color: blueviolet;
}

#second-para {
  margin-bottom: 25px;
}

.div-class {
  padding: 25px;
  background-color: burlywood;
}

.div-class #fourth-para {
  color: yellow;
}
